# Python
__pycache__/
*.pyc

# Virtual Environment
venv/
.venv/

# Instance Folder (contains the database)
instance/

# User-generated content and temporary uploads
courses/
uploads/

# IDE / Editor specific files
.idea/
.vscode/
